body {background:lightskyblue; }
h1 {font-weight:bold; 
    font-size: 36px;
    color:mediumblue;

    text-align:center; }

h2 {font-weight:bold; 
    font-size: 24px; 
    text-align:center;
    color: mediumvioletred;}
p {color: blue;
   background: azure;
   text-align: justify;}
img { width: 200px; height: 200px}
